<div id="grid-container">

    <!-- <div *ngFor="let temp of teams; index as i" class="grid-item">
        <h1>{{temp.teamName}}</h1>
        <p>{{temp.url}}</p>
        <p>{{temp.phoneNumber}}</p>
        <img [src]="temp.imagePath" alt="photo">
    </div> -->
    <div class="grid-item">
        <h3>{{temp1.teamName}}</h3>
        <p>{{temp1.url}}</p>
        <p>{{temp1.phoneNumber}}</p>
        <img [src]="temp1.imagePath" alt="photo">
    </div>
    <div class="grid-item">
        <h3>{{temp2.teamName}}</h3>
        <p>{{temp2.url}}</p>
        <p>{{temp2.phoneNumber}}</p>
        <img [src]="temp2.imagePath" alt="photo">
    </div>
    <div class="grid-item">
        <h3>{{temp3.teamName}}</h3>
        <p>{{temp3.url}}</p>
        <p>{{temp3.phoneNumber}}</p>
        <img [src]="temp3.imagePath" alt="photo">
    </div>
    <div class="grid-item">
        <h3>{{temp4.teamName}}</h3>
        <p>{{temp4.url}}</p>
        <p>{{temp4.phoneNumber}}</p>
        <img [src]="temp4.imagePath" alt="photo">
    </div>
    <div class="grid-item">
        <h3>{{temp5.teamName}}</h3>
        <p>{{temp5.url}}</p>
        <p>{{temp5.phoneNumber}}</p>
        <img [src]="temp5.imagePath" alt="photo">
    </div>
    <div class="grid-item">
        <h3>{{temp6.teamName}}</h3>
        <p>{{temp6.url}}</p>
        <p>{{temp6.phoneNumber}}</p>
        <img [src]="temp5.imagePath" alt="photo">
    </div>

</div>